<!--====================== Jumbotron =====================-->

<div id = 'container'>
    <div class="jumbotron">
      <h1>Icarus</h1>
      <p>Electrify Your Life</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up For Icarus</a></p>
    </div>

    <div id = 'ownerButton'>
    <button type="button" class="btn btn-primary">New Owner</button>
    </div>

    <div id = 'pilotButton'>
      <button type="button" class="btn btn-primary">New Pilot</button>
    </div>
</div>
