    



<!-- Wrap all page content here -->
<div id="wrap">

 
<header class="masthead">

    <!-- Video
    ================================================== -->
    <div id='videoContainer'>
      <div id="videoOverlays" class="container-well">
        <div class="jumbotron">
          <div class="textContrast">
            <h1>ICARUS</h1>
            <p>Electrify Your Life</p>
          </div>
            <%= button_to "Sign Up For ICARUS", new_user_path, class: "btn btn-danger btn-lg", method: :get %>
        </div>
      </div>
        <div class="container-fluid">
        <%= video_tag("tesla_road.mp4", :autoplay => true, :loop => true, :id => 'videoBox') %>    
        </div>
    </div>

    <!-- /video -->
  
</header>
  
  
<%= render "layouts/nav" %>
  

<div class="row">
  <div class="col-md-8 col-md-offset-1">
  </div>
</div>
  
<div class="row">
  
   
       
  <div id="map-canvas"></div>
  
  <hr>
  
  <div class="col-sm-8"></div>
  <div class="col-sm-3 pull-right">

      <address>
        Icarus, Inc.<br>
        <span id="map-input">
        1520 2nd Street<br>
        Santa Monica, CA 90401</span><br>
        P: (310) 555.5555
      </address>
    
      <address>
        <strong>Email Us</strong><br>
        <a href="mailto:#">first.last@example.com</a>
      </address>          
  </div>
  
</div><!--/row-->


</div><!--/wrap-->

<div id="footer">
  <div class="container">
    <p class="text-muted">Copyright ©2015 ICARUS, Inc.</p>
  </div>
</div>
