<!--====================== Welcome to Parallax Land =====================-->

  <div class="container-well">
    <div id = 'videoContainer'>
        <%= video_tag("promo.mp4", :autoplay => true) %>
           

        </video>
    </div>
  </div>




<!-- These are the parallax functions; we select speed and background position. -->
<script type="text/javascript">

    (function(){

        var parallax = document.querySelectorAll(".parallax"),
                speed = .5;

        window.onscroll = function(){
            [].slice.call(parallax).forEach(function(el,i){

                var windowYOffset = window.pageYOffset,
                        elBackgrounPos = "50% " + (windowYOffset * speed) + "px";

                el.style.backgroundPosition = elBackgrounPos;

            });
        };

    })();
</script>





    


  <!--====================== Jumbotron =====================-->


        <div class="jumbotron">
          <h1>Icarus</h1>
          <p>Electrify Your Life</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up For Icarus</a></p>
        </div>

        <div id = 'ownerButton'>
        <button type="button" class="btn btn-primary">New Owner</button>
        </div>

        <div id = 'pilotButton'>
          <button type="button" class="btn btn-primary">New Pilot</button>
        </div>
    </div>

    </body>
</html>